doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1, user-scalable=no')
        base(href="/")

        title=title

        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', crossorigin='anonymous')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/css/styles.css')

        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.js')

        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js')

        script(src='angular-material/angular-material.min.js')

        script(src='angular-ui-mask/dist/mask.min.js')

        script(src='chai/chai.js')
        script(src='chai-http/dist/chai-http.js')
    body
        div(ng-app='profileApp').container
            div.row.justify-content-center
                div(ng-controller='ListCtrl').col.d-flex.flex-column.justify-content-center
                    h1.text-center=title
                    ng-view
        script
            |var users = !{JSON.stringify(data)}
            |chai.use(chaiHttp);
        script(src='/js/profile.js')
        script(src='/js/controllers.js')