<div class="">
    <div id="list-of-users row">
        <h1>List of users</h1>
        <table class="table">
            <thead>
                <th>ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Phone</th>
                <th>Address</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-if="users.length" ng-repeat="user in users">
                    <td ngIf='user.id'>{{user.id}}</td>
                    <td ngIf='user.fname'>{{user.fname}}</td>
                    <td ngIf='user.lname'>{{user.lname}}</td>
                    <td ngIf='user.phone'>+1 {{user.phone}}</td>
                    <td ngIf='user.address'>{{user.address}}</td>
                    <td>
                        <div class="d-flex justify-content-end">
                            <md-icon ng-click="update(user.id)" title="Edit" class="cursor-pointer mr-3">edit</md-icon>
                            <md-icon ng-click="remove(user.id)" title="Remove" class="cursor-pointer">remove</md-icon>
                        </div>
                    </td>
                </tr>
                <tr ng-if="users.length==0">
                    <td colspan="6" class="text-center">No data</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pt-3 d-flex justify-content-center row">
        <form class="col-sm-4" name="userForm" ng-submit='submit()'>
            <input type="hidden" ng-model='user.id' />
            <div class="form-group">
                <label for="fname">First name</label>
                <input
                    ng-model='user.fname'
                    class="form-control"
                    type="text"
                    name="fname"
                    id="fname"
                    placeholder="Example: John"
                    ng-minlength="3" ng-maxlength="8"
                    required
                />
                <p ng-show="userForm.fname.$error.minlength" class="help-block">The firsname is too short.</p>
                <p ng-show="userForm.fname.$error.maxlength" class="help-block">The lastname is too long.</p>
                <div class="input-icon"><md-icon>person</md-icon></div>
            </div>
            <div class="form-group">
                <label for="lname">Last name</label>
                <input
                    ng-model='user.lname'
                    class="form-control"
                    type="text"
                    name="lname"
                    id="lname"
                    placeholder="Example: Smith"
                    required
                />
                <p ng-show="userForm.lname.$error.minlength" class="help-block">The lastname is too short.</p>
                <p ng-show="userForm.lname.$error.maxlength" class="help-block">The lastnae is too long.</p>
                <div class="input-icon"><md-icon>person</md-icon></div>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input
                    ng-model='user.phone'
                    class="form-control"
                    type="text"
                    name="phone"
                    id="phone"
                    ui-mask="+1 (999) 999-99-99"
                    !placeholder="Example: +(###) ###-##-##"
                    required
                />
                <div class="input-icon"><md-icon>phone</md-icon></div>
            </div>
            <div class="form-group">
                <label for="address">E-mail address</label>
                <input
                    ng-model='user.address'
                    class="form-control"
                    type="email"
                    name="address"
                    id="address"
                    placeholder="Example: john@hotmail.com"
                    required
                />
                <div class="input-icon"><md-icon>email</md-icon></div>
            </div>
            <button class="btn btn-primary mb-2" type="submit">{{btn}}</button>
        </form>
    </div>
</div>